<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Tutorial: Login</title>
<link rel="stylesheet" type="text/css" href="../css/sa.css" />
</head>
<body>

<h1>Tutorial: Login</h1>
tomcatとrole1ユーザでログインできます。<br />
パスワードはconf/tomcat-users.xmlを参照してください。<br />
違うユーザで再ログインする場合は、一度ログアウトしてください。
<form method="post" action="../j_security_check">
<table>
<tr>
<td>ユーザ名:</td>
<td><input type="text" name="j_username"></td>
</tr>
<tr>
<td>パスワード:</td>
<td><input type="password" name="j_password"></td>
</tr>
</table>
<input type="submit" name="login" value="ログイン"/>
<form>
</body>
</html>